.link-button {
  border-bottom: 3px solid gray;
  margin: 0 5px;
  font-weight: 500;
}

.link-button:hover {
  border-bottom: 3px solid black;
  background-color: grey;
  color: ghostwhite !important;
}